<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoFinal">
        <activity
            android:name=".CalculadoraDiluicao"
            android:exported="false" />
        <activity
            android:name=".Diluicao"
            android:exported="false" />
        <activity
            android:name=".CalculadoraVolumeGas"
            android:exported="false" />
        <activity
            android:name=".VolumeGas"
            android:exported="false" />
        <activity
            android:name=".CalculadoraNumeroMol"
            android:exported="false" />
        <activity
            android:name=".NumeroMol"
            android:exported="false" />
        <activity
            android:name=".CalculadoraDensidade"
            android:exported="false" />
        <activity
            android:name=".Densidade"
            android:exported="false" />
        <activity
            android:name=".CalculadoraConcentracao"
            android:exported="false" />
        <activity
            android:name=".Concentracao"
            android:exported="false" />
        <activity
            android:name=".CalculadoraMassaMolar"
            android:exported="false"
            android:theme="@style/Theme.ProjetoFinal" />
        <activity
            android:name=".MassaMolar"
            android:exported="false"
            android:theme="@style/Theme.ProjetoFinal" />
        <activity
            android:name=".DialogTabelaPeriodicaActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjetoFinal" />
        <activity
            android:name=".DesenvolvedoresActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjetoFinal" />
        <activity
            android:name=".CalculadoraMassaAtomica"
            android:exported="false"
            android:theme="@style/Theme.ProjetoFinal" />
        <activity
            android:name=".massa_atomica"
            android:exported="false"
            android:theme="@style/Theme.ProjetoFinal" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ProjetoFinal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>